.table-container {
  display: flex;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

td,
th {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  padding: 6px;
}

th {
  background: green;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
